.comacont{
    background-color: #f2f2f2;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comacont img{
    max-width: 12%;
    margin: 25px auto;
}

@media screen and (max-width: 960px){
    .comacont img{
        max-width: 35%;
    }


}