.nav-but,
.nav-contat .icon {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  justify-content: center;
  text-align: center;
  height: 68px;
  box-shadow: 2px 5px 14px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 5px 14px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 14px -6px rgba(0, 0, 0, 0.75);
}
.nav-but .fa,
.nav-contat .icon i {
  color: #000;
  font-size: 28px;
}
.del {
  display: none;
}

.nav-but .fa:hover,
.nav-contat .icon i:hover {
  cursor: pointer;
}

.nav-contat {
  height: 100vh;
  width: 300px;
  background-color: rgb(34, 33, 33);
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 100;
}
.active {
  opacity: 1;
  left: 0;
  transition: all 0.5s ease-in-out;
  
}

.nav-contat .icon {
  background-color: rgb(49, 49, 49);
}

.nav-contat .icon i {
  color: #fff;
}

.nav-contat .items {
  width: 100%;
  padding: 15px;
  justify-content: center;
  text-align: center;
}

.nav-contat .items a {
  width: 100%;
  display: block;
  margin: 20px 0;
  text-decoration: none;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.nav-contat .items a:hover {
  color: rgba(255, 255, 255, 0.616);
}
